body {
    max-width: 1100px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: medium;
    line-height: 1.5;
}

main {
    background-color: #d39c2f;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 142px;
    background-color: #5b3604;
}

#coffee-bean {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

h1 {
    font-size: 5.5em;
    align-self: center;
    color: #d68227;
    padding-left: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #d39c2f;
    height: 52px;
    margin: 0;
    padding: 0;
}

nav li {
    padding-right: 20px;
    font-size: 1.6em;
}

nav a {
    color: black;
}

#drinks {
    height: auto;
    width: 100%;
}

#main-text {
    font-size: 2.2em;
    padding: 20px;
    text-align: justify;
    margin-top: 0;
}

h2 {
    font-size: 3.8em;
    color: #5b380a;
    text-align: center;
}

article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section img {
    width: 100%;
    height: 225px;
}

.section p {
    margin: 0;
    font-size: 1.2em;
    padding-bottom: 40px;
    text-align: center;
}

form {
    display: block;
    max-width: 850px;
    margin: 0 auto;
    min-height: 180px;
}

#userData {
    width: 360px;
    float: left;
}

#userData input {
    width: 350px;
    margin: 0 0 20px 0;
    border: 2px solid black;
    font-size: 1.4em;
    height: 50px;
    background-color: #fcf892;
}

#msg {
    width: 360px;
    float: right;
}

#msg textarea {
    width: 350px;
    height: 100px;
    display: block;
    border: 2px solid black;
    margin: 0 0 0 20px;
    padding: 13px 0 13px 0;
    font-family: Helvetica sans-serif;
    font-size: 1.4em;
    background-color: #fcf892;
}

button {
    width: 150px;
    height: 50px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 10%;
    font-family: Helvetica sans-serif;
    font-size: 1.4em;
    margin-left: 50px;
}

h4 {
    font-size: 2.0em;
    color: #5b3604;
    margin: 0;
}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    line-height: 1.0;
    padding: 150px 0 30px 10px;
}

button{
    margin-top: 20px;
}

#schedule-image {
    height: 150px;
    width: 150px;
}

h3 {
    font-size: 2.8em;
    color: #5b380a;
}

section p {
    padding-top: 30px;
    font-size: 1.4em;
    line-height: 1.5;
}

#phone {
    height: 55px;
    width: auto;
}

#facebook {
    height: 55px;
    width: auto;
}

#address {
    height: 55px;
    width: auto;
}

#map {
    display: none;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #5b3604;
    color: #d39c2f;
}

footer a {
    color: #d39c2f;
}
